.firstrow {
  /* display: flex; */
  flex-wrap: wrap;
  background-color: white;
  height: auto;
  padding: 13px 29px;
  row-gap: 20px;
}

.manageExpenseRow {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: auto;
  padding: 13px 29px;
  gap: 10px;
  justify-content: space-between;
}

.detail {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 150px;
}

@media (max-width: 475px) {
  .detail_main {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 150px;
  }
}

@media (min-width: 476px) {
  .detail_main {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 50%;
    max-width: 50%;
  }
}

.distributor-detail {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 300px;
  min-height: 60px;
  gap: 6px;
}

.heading {
  font-size: 17px;
  color: var(--color1);
  font-weight: 500;
  line-height: 17px;
}

.discription {
  display: block;
  font-weight: 700;
  color: #999;
  font-size: 12px;
}

.table-cashManage {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-cashManage td {
  padding: 8px;
  text-align: right;
}

.table-cashManage th {
  color: var(--color1);
  font-size: 14px;
  letter-spacing: 0.2px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 10px;
}

.table-cashManage tbody tr td {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.table-cashManage tbody tr {
  border-bottom: 1px solid #e7e7e7;
}

.table-cashManage tbody tr:hover {
  background-color: #ceecfd;
  cursor: pointer;
  transition: all;
}

.saleRegisterTotal-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.saleRegisterTotal-table td {
  padding: 8px;
  text-align: right;
}

.saleRegisterTotal-table th {
  color: var(--color1);
  font-size: 14px;
  letter-spacing: 0.2px;
  padding: 10px;
}

.saleRegisterTotal-table tbody tr td {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.saleRegisterTotal-table tbody tr {
  border-bottom: 1px solid #e7e7e7;
}

.saleRegisterTotal-table tbody tr:hover {
  background-color: #ceecfd;
  cursor: pointer;
}

.saleRegisterTotal-table thead tr:nth-child(2) {
  border-bottom: 1px solid var(--color1);
}

.saleRegisterTotal-table thead tr:nth-child(1) {
  border-top: 1px solid var(--color1);
}

.amount {
  background-color: var(--color3);
  font-weight: 900 !important;
}

.amounttotal {
  background-color: rgba(221, 78, 90, 0.1);
  font-weight: 600;
  font-size: 18px !important;
  color: rgb(31, 27, 26);
}

.custom-table-invantory td {
  padding: 4px !important;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.headerStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.custom-table th {
  color: var(--color1);
  font-size: 14px;
  border-bottom: 1px solid;
}

.custom-table tr {
  border-bottom: 1px solid lightgray;
}

.custom-table tbody tr:hover {
  background-color: #ceecfd;
  cursor: pointer;
}

.data {
  color: var(--color1);
  font-weight: 600;
  /* max-width: 156px; */
  text-wrap: wrap;
  width: 330px;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  display: inline-block;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 14px;
}

.invoice-table th,
.invoice-table td {
  padding: 8px;
  text-align: center;
  font-size: 14px;
  border: 1px solid lightgray;
}

.invoice-table th {
  color: var(--color1);
  font-size: 14px;
  background-color: light;
}

.invoice-table tr {
  height: 50px;
}

.invoice-table tr:hover {
  background-color: rgba(4, 76, 157, 0.1);
}

.custommedia {
  @media (max-width: 768px) {
    max-width: 768px !important;
  }

  @media (min-width: 769px) {
    max-width: 33.3333333333% !important;
    padding: 0 5px;
  }

  @media (min-width: 1440px) {
    max-width: 25.3333333333% !important;
    padding: 0 5px;
  }
}

@media (max-width: 768px) {
  .sale_dates_divv_main {
    flex-direction: column !important;
    align-items: end !important;
    width: 100% !important;
  }

  .sale_dates_divv {
    flex-direction: column !important;
    gap: 20px !important;
    width: 100% !important;
  }

  .sale_dates_divv_btn {
    justify-content: end !important;
  }
}

.search_fld_divv {
  @media (max-width: 575px) {
    flex-direction: column !important;

    table {
      max-width: 100% !important;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column !important;

    table {
      max-width: 100% !important;
    }
  }
}

.header_sale_divv {
  @media (max-width: 906px) {
    display: grid !important;
    padding: 13px 29px;
    flex-direction: column-reverse;
  }
}

.payment_btn_divv {
  @media (max-width: 696px) {
    width: 48.5%;
  }
}

.payment_btn_divv {
  @media (max-width: 430px) {
    width: 100%;
  }
}

.payment_divv {
  @media (min-width: 431px) and (max-width: 696px) {
    width: 48.5% !important;
  }

  @media (max-width: 430px) {
    width: 100% !important;
  }

  @media (min-width: 697px) and (max-width: 1100px) {
    width: 30% !important;
  }

  @media (min-width: 1101px) {
    width: 200px !important;
  }
}

.headerList {
  @media (max-width: 696px) {
    display: flex;
  }
}

@media (min-width: 697px) and (max-width: 785px) {
  .headerList {
    flex-wrap: nowrap !important;
  }
}

.add_new_item_divv {
  width: 100%;
  flex-direction: column;
}

.sale_rtn_add:has(:not(.sale_filtr_add)) {
  height: calc(99vh - 55px);
}

.sale_rtn_add:has(.sale_filtr_add) {
  height: calc(-120px + 100vh) !important;
}

@media (max-width: 768px) {
  .filter_btn_add {
    width: 100% !important;
    justify-content: center !important;
    height: 45px !important;
  }

  .main_fltr_btn {
    width: 100%;
  }
}

@media (max-width:600px) {
  .modal_amount div[role="dialog"] {
    max-width: 100%;
    align-content: end;
    padding: 0;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .modal_amount div[role="dialog"] {
    max-width: 80%;
    align-content: end;
    padding: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .modal_amount div[role="dialog"] {
    max-width: 60%;
    align-content: end;
    padding: 0;
  }
}

@media (min-width:1025px) {
  .modal_amount div[role="dialog"] {
    max-width: 30%;
    align-content: end;
    padding: 0;
  }
}

.invoice_total_fld {
  max-width: 200px;
  min-width: 200px;
}

@media (max-width: 375px) {
  .main_header_txt {
    flex-direction: column;
  }

  .order_list_btn {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .place_order_dlg{
    width: 100%;
  }
}